.footer__list-element-title {
    color: #9398B2;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    text-decoration: none;
    transition: .1s linear;
}
.footer__list-element-title:hover {
    color: white ;
    transition: color .2s linear;
}