.page {
    background-image: url(../images/background.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-color: #090D15;
    max-width: 1900px;
    min-width: min-content;

}

/*header*/

.header {
    background-color: #131521;
    width: 100%;

}

.header__wrapper {
    max-width: 1216px;
    min-height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;

}

.logo {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url(../images/logo_bg.svg);
    background-size: contain;
    background-position: center;
    min-width: 119px;
    height: 32px;
    font-weight: 700;
    font-size: 17px;
    line-height: 22px;
    font-family: Arial, Helvetica, sans-serif;
    margin-left: 0;
}

.header__menu-container {}

.header__menu {
    display: flex;
    list-style: none;
    margin: 0;

}

.header__menu-link-container {
    margin-right: 36px;
}

.header__menu-link {
    color: #9398B2;
    text-decoration: none;
}


/*top-info*/

/*.top-info{
max-width: 1216px;
height: 717px;
}*/

.top-info {
    background-image: url(../images/top-info_bg.png);
    max-width: 1216px;
    min-height: 585px;
    background-position: right center;
    background-repeat: no-repeat;
    margin: 0 auto;
}

.top-info_title {
    color: #ffffff;
    max-width: 530px;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
    text-transform: uppercase;
    padding-top: 140px;
    margin: 0;
}

.top-info_button  {
    align-self: start;
    background: #6E00DC;
    border-radius: 60px;
    width: 253px;
    height: 60px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 15px;
    line-height: 18px;
    margin-top: 57px;
    border: none;

}

.top-info_button-arrow {
    margin-left: 24px;
}

/*content-zone-one*/

.content-zone-one {
    width: 100%;
}

.second {
    max-width: 1320px;
    height: 589px;
    position: relative;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    margin-left: 60px;
    justify-content: space-between;
    bottom: 60px;    
}

.line {
    background-image: url(../images/footer_top_line.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 1216px;
    height: 1px;
}

.line_top {
    position: absolute;
    top: 0;
}

.second__content {}

.second__title {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    margin: 0;
    max-width: 306px;
    height: 64px;
}

.second__subtitle {
    color: #E1E7F8;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 26px;
    margin: 24px 0 0;
    max-width: 416px;
    height: 104px;

}

.second__background-action {
    background-image: url(../images/aside_bg_left.png);
    width: 840px;
    height: 542px;
    background-repeat: no-repeat;
    margin-right: 64px;
    position: relative;
    right: 0px;
    bottom: 80px;
}

.second__picture-prophet {
    background-image: url(../images/death_prophet.png);
    width: 840px;
    height: 542px;
    background-repeat: no-repeat;
    position: absolute;
    left: 369px;
    top: 60px;
}

/*content-zone-two*/

.second-two {
    flex-direction: row;
    margin: 0 60px 41px auto;
}

.second__title_two {
    max-width: 384px;
    height: 64px;
    
}

.second__subtitle_two {
    max-width: 416px;
    height: 104px;
}

.second__picture-leshrac {
    background-image: url(../images/leshrac.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 349px;
    height: 349px;
    position: absolute;
    top: 135px;
    right: 575px;
}

.second__background-pay {
    background-image: url(../images/aside_bg_right.png);
    background-repeat: no-repeat;
    background-size: contain;
    width: 840px;
    height: 542px;
    position: relative;
    bottom: 100px;
    right: 0px;
    
}

.border{
    border: solid 1px white;
}